# Ignore node_modules directory
backend/node_modules/

# Ignore SQLite database file
backend/database.sqlite

# Ignore other common files
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
secrets/
*.env
*.log
